*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.table-full{
    width: 100%;
}

.table-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-add{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-add:hover{
    background-color: #3742fa;
}

.btn-update{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-update:hover{
    background-color: #2ed573;
}

.btn-delete{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-delete:hover{
    background-color: #ff4757;
}

/*menu */
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #40407a;
}
.menu ul li a:hover{
    color: #2c2c54;
}


/*Footer */
.footer{
    background-color: #2c2c54;
    color: white;
}




/* sign up page................................................................*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}
.signUp img{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.signUp h4{
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Kaushan Script', cursive;
}
.up{
    margin: 15%;
}
.inp{
    height: 50px;
    width: 70%;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
}
.signUpBtn{
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    margin: 30px;
    border-radius: 60px;
    font-weight: 600;
    background: greenyellow;
    color: white;
}
.signUpBtn:hover{
    background: green;
    transition: 0.5s;
}