*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive{
    width: 100%;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}
.clearfix{
    clear: both;
    float: none;
}
a{
    color: #A3CB38;
    text-decoration: none;
}
a:hover{
    color: #009432;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
}
.btn-primary{
    background-color: #ED4C67;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #B53471;
}

h2{
    color: #EA2027;
    font-size: 2rem;
}

.float-container{
    position: relative;
}
.float-text{
    position: absolute;
}

/*navber*/
.logo{
    border: 1px solid black;
    width: 10%;
    float: left;
}

.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* food search*/

.food-search{
    background-image: url(../images/HmBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6% 0;
}

.food-search input[type= "search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
}

/* offer box
.offer{
    background-color: #ececec;
    padding: 4% 0;
}
.offer-box{
    border: 1px solid black;
    width: 40%;
    margin: 1%;
    padding: 3%;
    float: left;
    background-color: white;
}
*/
/* catagories*/

.category{
    padding: 4% 0;
}

.box-3{
    border: 1px solid black;
    margin: 2%;
    float: left;
    width: 28%;
}